* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #F8F9FA, #b3d8f8);
  padding: 40px 0;
}

.container {
  width: 450px;
  background: #ffffff;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
  animation: fadeIn 0.8s ease-in-out;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.container:hover {
  transform: scale(1.02);
}

h1 {
  font-size: 26px;
  font-weight: bold;
  color: #165e9a;
  margin-bottom: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.input-group {
  display: flex;
  align-items: center;
  background: #ECF0F1;
  padding: 12px;
  border-radius: 8px;
  margin: 12px 0;
  transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
  position: relative;
}

.input-group:hover {
  background: #DCE3E6;
  transform: translateY(-2px);
}

.input-group label {
  flex: 1;
  text-align: left;
  color: #165e9a;
  font-weight: bold;
  font-size: 16px;
  min-width: 120px;
}

.input-group input {
  flex: 2;
  border: none;
  background: none;
  padding: 10px;
  outline: none;
  font-size: 16px;
  width: 100%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease-in-out;
}

/* Effet de focus moderne */
.input-group input:focus {
  border-bottom: 2px solid #0f5995;
}

/* Placeholder modernisé */
.input-group input::placeholder {
  font-size: 15px;
  color: #95A5A6;
}

button {
  width: 100%;
  background: #0f5995;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
  transition: all 0.3s;
  box-shadow: 0px 5px 15px rgba(50, 122, 182, 0.3);
}

button:hover {
  background: #1E88E5;
  box-shadow: 0px 8px 20px rgba(30, 136, 229, 0.4);
}

button:active {
  background: #0c4a7d;
  transform: scale(0.98);
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive */
@media (max-width: 480px) {
  .container {
    width: 90%;
    padding: 20px;
  }
}
